.aim__stuffs{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 10rem;
    margin-right: 10rem;
    /* border: 5px solid #008000; */
    border-radius: 2rem;
    /* width: 90%; */
    background: #4b4855;
}
.fire__img{
    width: 20%;
}

.aims{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50vh;
    padding-top: 1rem;
    /* padding-bottom: 2rem; */
}