@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fondamento&display=swap');


.theProvides{
    display: flex;
    margin-top: 3rem;
    justify-content: center;
    align-items: center;
}


.Customer-Image{
    width: 80%;
    padding-left: 9rem;
}

.heyText{
    padding-right: 10rem;
}
/* 1 */
.provideText{
    display: flex;
    flex-direction: column;
}